div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1000px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_indexText1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText1 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_indexText1 div {
   text-align: center;
}
#wb_indexText2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText2 {
   color: #B22222;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_indexText2 div {
   text-align: center;
}
#wb_indexText3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText3 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_indexText3 div {
   text-align: center;
}
#wb_indexText4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText4 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_indexText4 div {
   text-align: center;
}
#wb_indexText5 {
   padding: 0;
   background-clip: padding-box;
   background-color: #FFFF00;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 5px;
   margin: 0;
   text-align: center;
}
#wb_indexText5 div {
   text-align: center;
}
#wb_indexHeading1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexHeading1 {
   color: #FF0000;
   font-family: "PT Sans Narrow";
   font-size: 85px;
   font-weight: bold;
   margin: 0;
   text-align: center;
   text-shadow: 4px 4px 4px rgba(0,0,0,0.50);
}
#indexPhotoCollage1 {
   box-sizing: border-box;
   display: table;
   font-size: 0;
   height: 100%;
   margin: 0;
   position: relative;
   table-layout: fixed;
   width: 100%;
}
#indexPhotoCollage1 .thumbnail img {
   border: 0px #000000 solid;
   box-sizing: border-box;
}
#indexPhotoCollage1 .thumbnail {
   position: absolute;
}
#indexPhotoCollage1 .thumbnail img {
   height: 100%;
   margin: 0;
   padding: 0;
   width: 100%;
}
#indexImage2 {
   border: 0px solid #000000;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#indexRollOver1 a {
   display: block;
   height: 100%;
   position: relative;
   width: 100%;
}
#indexRollOver1 a img {
   border-width: 0;
   position: absolute;
   z-index: 1;
}
#indexRollOver1 span {
   display: block;
   height: 100%;
   position: absolute;
   width: 100%;
   z-index: 2;
}
#indexRollOver1 img {
   border-width: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
#indexRollOverText1 .description {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexRollOverText1 .link {
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   color: #FFFFFF;
   display: inline-block;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-decoration: underline;
}
#indexRollOverText1 .title {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: bold;
   padding: 0;
   text-align: center;
}
#indexRollOverText1 .caption {
   background: #000000;
   box-sizing: border-box;
   left: 0;
   opacity: 0;
   padding: 10px 10px 10px 10px;
   position: absolute;
   text-align: center;
   top: 0;
   width: 100%;
}
#indexRollOverText1 .image {
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
#indexRollOverText1 {
   border: 0px solid #000000;
   margin: 0;
}
#indexLayer1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(../images/dyfa%2dnew%2dyork%2dpivot%2d.jpg);
   background-position: center center;
   background-repeat: repeat;
   background-size: cover;
}
#indexLayer1-overlay {
   background-color: #000000;
   bottom: 0;
   left: 0;
   opacity: 0.59;
   position: absolute;
   right: 0;
   top: 0;
}
#indexImage1 {
   border: 0px solid #000000;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#indexPicture1 {
   border: 0px solid #000000;
   height: 100%;
   left: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#indexLayer1_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 1000px;
}
#wb_uid1 {
   color: #B22222;
}
#wb_uid2 {
   color: #000000;
}
#wb_indexText1 {
   height: 24px;
   left: 300px;
   position: absolute;
   text-align: center;
   top: 590px;
   width: 370px;
   z-index: 2;
}
#indexLayer1 {
   height: 410px;
   left: 0px;
   position: absolute;
   text-align: center;
   top: 0px;
   width: 100%;
   z-index: 12;
}
#indexRollOver1 {
   height: 199px;
   left: 30px;
   overflow: hidden;
   position: absolute;
   top: 1970px;
   width: 360px;
   z-index: 10;
}
#wb_indexPhotoCollage1 {
   height: 670px;
   left: 150px;
   position: absolute;
   top: 1230px;
   width: 670px;
   z-index: 8;
}
#wb_uid3 {
   color: #000000;
}
#wb_indexText2 {
   height: 45px;
   left: 300px;
   position: absolute;
   text-align: center;
   top: 661px;
   width: 370px;
   z-index: 3;
}
#wb_uid4 {
   color: #B22222;
   font-family: PT Sans Narrow;
   font-size: 35px;
   letter-spacing: 4.07px;
}
#wb_indexText3 {
   height: 24px;
   left: 300px;
   position: absolute;
   text-align: center;
   top: 732px;
   width: 370px;
   z-index: 4;
}
#wb_indexText4 {
   height: 24px;
   left: 364px;
   position: absolute;
   text-align: center;
   top: 803px;
   width: 242px;
   z-index: 5;
}
#wb_indexImage1 {
   height: 90px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 90px;
   z-index: 0;
}
#wb_indexText5 {
   height: 45px;
   left: 240px;
   position: absolute;
   text-align: center;
   top: 880px;
   width: 458px;
   z-index: 6;
}
#indexRollOverText1 {
   height: 189px;
   left: 553px;
   overflow: hidden;
   position: absolute;
   top: 1975px;
   width: 284px;
   z-index: 11;
}
#wb_indexImage2 {
   height: 67px;
   left: 750px;
   position: absolute;
   top: 900px;
   width: 100px;
   z-index: 9;
}
#wb_indexHeading1 {
   height: 130px;
   left: 40px;
   position: absolute;
   top: 1070px;
   width: 890px;
   z-index: 7;
}
#wb_indexPicture1 {
   height: 90px;
   left: 910px;
   position: absolute;
   top: 0px;
   width: 90px;
   z-index: 1;
}
#wb_uid0 {
   color: #000000;
}
@media only screen and (max-width: 999px) {
div#container {
   width: 320px;
}
body {
   background-color: #FFFFFF;
   background-image: none;
}
#wb_indexText1 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 24px;
   left: 16px;
   top: 220px;
   visibility: visible;
   width: 288px;
}
#wb_indexText1 {
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText2 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 24px;
   left: 15px;
   top: 280px;
   visibility: visible;
   width: 290px;
}
#wb_indexText2 {
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText3 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 24px;
   left: 11px;
   top: 335px;
   visibility: visible;
   width: 298px;
}
#wb_indexText3 {
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText4 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 24px;
   left: 43px;
   top: 400px;
   visibility: visible;
   width: 235px;
}
#wb_indexText4 {
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText5 {
   background-clip: padding-box;
   background-color: #FFFF00;
   background-image: none;
   border-radius: 5px;
   display: inline;
   height: 90px;
   left: 17px;
   top: 515px;
   visibility: visible;
   width: 284px;
}
#wb_indexText5 {
   margin: 0;
   padding: 0;
}
#wb_indexHeading1 {
   background-color: transparent;
   background-image: none;
   color: #FF0000;
   display: inline;
   font-family: "PT Sans Narrow";
   font-size: 53px;
   font-style: normal;
   font-weight: bold;
   height: 170px;
   left: 6px;
   margin: 0;
   padding: 0;
   text-decoration: none;
   top: 930px;
   visibility: visible;
   width: 309px;
}
#wb_indexHeading1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
}
#indexHeading1 {
   color: #FF0000;
   font-family: "PT Sans Narrow";
   font-size: 53px;
   font-weight: bold;
   text-shadow: 4px 4px 4px rgba(0,0,0,0.50);
}
#wb_indexPhotoCollage1 {
   display: inline;
   height: 309px;
   left: 6px;
   margin: 0;
   top: 1140px;
   visibility: visible;
   width: 309px;
}
#wb_indexImage2 {
   display: inline;
   height: 207px;
   left: 6px;
   margin: 0;
   padding: 0;
   top: 650px;
   visibility: visible;
   width: 308px;
}
#indexRollOver1 {
   display: inline;
   height: 200px;
   left: 6px;
   top: 1530px;
   visibility: visible;
   width: 309px;
}
#indexRollOverText1 {
   display: inline;
   height: 240px;
   left: 6px;
   top: 1780px;
   visibility: visible;
   width: 309px;
}
#indexLayer1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(../images/dyfa%2dnew%2dyork%2dpivot%2d.jpg);
   background-position: center center;
   background-repeat: repeat;
   background-size: cover;
   display: inline;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 200px;
   left: 0px;
   text-decoration: none;
   top: 0px;
   visibility: visible;
}
#indexLayer1 {
   width: 100%;
}
#indexLayer1_Container {
   width: 320px;
}
#wb_indexImage1 {
   display: inline;
   height: 90px;
   left: 0px;
   margin: 0;
   padding: 0;
   top: 0px;
   visibility: visible;
   width: 95px;
}
#wb_indexPicture1 {
   display: inline;
   height: 90px;
   left: 230px;
   margin: 0;
   padding: 0;
   top: 0px;
   visibility: visible;
   width: 89px;
}
}
