div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#indexImage1 {
   border: 0px solid transparent;
   height: 100%;
   left: 0;
   margin: 0;
   object-fit: cover;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_indexText1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText1 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_indexText1 div {
   text-align: center;
}
#wb_indexText2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText2 {
   color: #B22222;
   font-family: "PT Sans Narrow";
   font-size: 35px;
   font-weight: normal;
}
#wb_indexText2 div {
   text-align: center;
}
#wb_indexText3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText3 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_indexText3 div {
   text-align: center;
}
#wb_indexText4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText4 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_indexText4 div {
   text-align: center;
}
#wb_indexText5 {
   padding: 0;
   background-clip: padding-box;
   background-color: #FFFF00;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 5px;
   margin: 0;
   text-align: center;
}
#wb_indexText5 div {
   text-align: center;
}
#wb_indexHeading1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexHeading1 {
   color: #FF0000;
   font-family: "PT Sans Narrow";
   font-size: 85px;
   font-weight: bold;
   margin: 0;
   text-align: center;
   text-shadow: 4px 4px 4px rgba(0,0,0,0.50);
}
#indexPhotoCollage1 {
   box-sizing: border-box;
   display: table;
   font-size: 0;
   height: 100%;
   margin: 0;
   position: relative;
   table-layout: fixed;
   width: 100%;
}
#indexPhotoCollage1 .thumbnail img {
   border: 0px #000000 solid;
   box-sizing: border-box;
}
#indexPhotoCollage1 .thumbnail {
   position: absolute;
}
#indexPhotoCollage1 .thumbnail img {
   height: 100%;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_uid1 {
   color: #B22222;
}
#wb_uid2 {
   color: #000000;
}
#wb_indexText1 {
   height: 24px;
   left: 300px;
   position: absolute;
   text-align: center;
   top: 590px;
   width: 370px;
   z-index: 1;
}
#wb_indexPhotoCollage1 {
   height: 670px;
   left: 150px;
   position: absolute;
   top: 1230px;
   width: 670px;
   z-index: 7;
}
#wb_uid3 {
   color: #000000;
}
#wb_indexText2 {
   height: 45px;
   left: 300px;
   position: absolute;
   text-align: center;
   top: 661px;
   width: 370px;
   z-index: 2;
}
#wb_uid4 {
   color: #B22222;
   font-family: PT Sans Narrow;
   font-size: 35px;
   letter-spacing: 4.07px;
}
#wb_indexText3 {
   height: 24px;
   left: 300px;
   position: absolute;
   text-align: center;
   top: 732px;
   width: 370px;
   z-index: 3;
}
#wb_indexText4 {
   height: 24px;
   left: 364px;
   position: absolute;
   text-align: center;
   top: 803px;
   width: 242px;
   z-index: 4;
}
#wb_indexText5 {
   height: 45px;
   left: 240px;
   position: absolute;
   text-align: center;
   top: 880px;
   width: 458px;
   z-index: 5;
}
#wb_indexImage1 {
   height: 560px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 970px;
   z-index: 0;
}
#wb_indexHeading1 {
   height: 130px;
   left: 40px;
   position: absolute;
   top: 1070px;
   width: 890px;
   z-index: 6;
}
#wb_uid0 {
   color: #000000;
}
