div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1300px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_indexText1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_indexText1 {
   color: #8B4513;
   font-family: Arial;
   font-size: 43px;
   font-weight: normal;
}
#wb_indexText1 div {
   text-align: left;
}
#wb_indexText3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: right;
}
#wb_indexText3 {
   color: #000000;
   font-family: Arial;
   font-size: 24px;
   font-weight: normal;
}
#wb_indexText3 div {
   text-align: right;
}
#wb_indexText4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_indexText4 {
   color: #000000;
   font-family: Arial;
   font-size: 24px;
   font-weight: normal;
}
#wb_indexText4 div {
   text-align: left;
}
#wb_indexCssMenu2 {
   background-color: transparent;
   border: 0px solid #C0C0C0;
   margin: 0;
   text-align: center;
}
#wb_indexCssMenu2 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_indexCssMenu2 li {
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_indexCssMenu2 a {
   background-color: #0000CD;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 5px;
   color: #FFFFFF;
   display: block;
   float: left;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   height: 55px;
   line-height: 55px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 95.1%;
}
#wb_indexCssMenu2 li:hover a,
#wb_indexCssMenu2 a:hover {
   color: #FFFFFF;
}
.indexCssMenu2-effect:before {
   background-color: #4169E1;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_indexCssMenu2 li.firstmain {
   padding-left: 0px;
}
#wb_indexCssMenu2 li.lastmain {
   padding-right: 0px;
}
#wb_indexCssMenu2 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.indexCssMenu2-effect {
   -webkit-transform: perspective(0px) translateX(0);
   -webkit-transition: color 200ms linear;
   display: inline-block;
   overflow: hidden;
   position: relative;
   transform: perspective(0px) translateX(0);
   transition: color 200ms linear;
}
.indexCssMenu2-effect:before {
   -webkit-transform: scale(0);
   -webkit-transition: all 200ms linear;
   border-radius: 100%;
   bottom: 0;
   content: "";
   left: 0;
   opacity: 0;
   position: absolute;
   right: 0;
   top: 0;
   transform: scale(0);
   transition: all 200ms linear;
   z-index: -1;
}
.indexCssMenu2-effect:hover:before,
.indexCssMenu2-effect:focus:before,
.indexCssMenu2-effect:active:before {
   -webkit-transform: scale(2);
   opacity: 1;
   transform: scale(2);
}
#indexLayer1 {
   background-attachment: scroll;
   background-color: transparent;
   background-image: url(../images/7788443300.jpg);
   background-position: center center;
   background-repeat: repeat;
   background-size: cover;
}
#wb_indexHeading1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexHeading1 {
   color: #93141F;
   font-family: Arial;
   font-size: 53px;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#wb_indexText5 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText5 {
   color: #000000;
   font-family: Arial;
   font-size: 27px;
   font-weight: normal;
}
#wb_indexText5 div {
   text-align: center;
}
#indexImage2 {
   border: 0px solid #000000;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_indexCssMenu3 {
   background-color: transparent;
   border: 0px solid #C0C0C0;
   margin: 0;
   text-align: center;
}
#wb_indexCssMenu3 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_indexCssMenu3 li {
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 25%;
}
#wb_indexCssMenu3 a {
   background-color: #808080;
   background-image: none;
   border: 0px solid #CCCCCC;
   color: #FFFFFF;
   display: block;
   float: left;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   height: 60px;
   line-height: 60px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 84.62%;
}
#wb_indexCssMenu3 li:hover a,
#wb_indexCssMenu3 a:hover {
   background-color: #A9A9A9;
   background-image: none;
   border: 0px solid #2E6DA4;
   color: #FFFFFF;
}
#wb_indexCssMenu3 li.firstmain {
   padding-left: 0px;
}
#wb_indexCssMenu3 li.lastmain {
   padding-right: 0px;
}
#wb_indexCssMenu3 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_indexCssMenu1 {
   background-color: transparent;
   border: 0px solid #C0C0C0;
   margin: 0;
   text-align: center;
}
#wb_indexCssMenu1 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_indexCssMenu1 li {
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 25%;
}
#wb_indexCssMenu1 a {
   background-color: #808080;
   background-image: none;
   border: 0px solid #CCCCCC;
   color: #FFFFFF;
   display: block;
   float: left;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   height: 60px;
   line-height: 60px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 96.28%;
}
#wb_indexCssMenu1 li:hover a,
#wb_indexCssMenu1 a:hover {
   background-color: #A9A9A9;
   background-image: none;
   border: 0px solid #2E6DA4;
   color: #FFFFFF;
}
#wb_indexCssMenu1 li.firstmain {
   padding-left: 0px;
}
#wb_indexCssMenu1 li.lastmain {
   padding-right: 0px;
}
#wb_indexCssMenu1 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage1 {
   border: 0px solid #000000;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_indexText2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: right;
}
#wb_indexText2 {
   color: #8B4513;
   font-family: Arial;
   font-size: 24px;
   font-weight: normal;
}
#wb_indexText2 div {
   text-align: right;
}
#indexLayer1_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 1300px;
}
#wb_uid1 {
   color: #0000CD;
}
#wb_uid2 {
   color: #8B4513;
}
#wb_indexText1 {
   height: 47px;
   left: 0px;
   position: absolute;
   top: 20px;
   width: 320px;
   z-index: 3;
}
#indexLayer1 {
   height: 471px;
   left: 0px;
   position: absolute;
   text-align: center;
   top: 180px;
   width: 100%;
   z-index: 11;
}
#wb_indexText2 {
   height: 58px;
   left: 1080px;
   position: absolute;
   text-align: right;
   top: 10px;
   width: 220px;
   z-index: 10;
}
#wb_indexCssMenu1 {
   height: 60px;
   left: 0px;
   position: absolute;
   top: 120px;
   width: 1300px;
   z-index: 8;
}
#wb_uid3 {
   color: #0000CD;
}
#wb_indexCssMenu2 {
   height: 55px;
   left: 500px;
   position: absolute;
   top: 10px;
   width: 290px;
   z-index: 6;
}
#wb_uid4 {
   color: #000000;
}
#wb_indexText3 {
   height: 27px;
   left: 930px;
   position: absolute;
   text-align: right;
   top: 80px;
   width: 370px;
   z-index: 4;
}
#wb_indexCssMenu3 {
   height: 60px;
   left: 0px;
   position: absolute;
   top: 150px;
   visibility: hidden;
   width: 320px;
   z-index: 7;
}
#wb_uid5 {
   color: #000000;
}
#wb_indexText4 {
   height: 27px;
   left: 0px;
   position: absolute;
   top: 80px;
   width: 450px;
   z-index: 5;
}
#wb_indexText5 {
   height: 140px;
   left: 240px;
   position: absolute;
   text-align: center;
   top: 241px;
   width: 820px;
   z-index: 0;
}
#wb_uid6 {
   color: #8B4513;
}
#wb_indexImage1 {
   height: 40px;
   left: 1095px;
   position: absolute;
   top: 19px;
   width: 40px;
   z-index: 9;
}
#wb_indexHeading1 {
   height: 126px;
   left: 98px;
   position: absolute;
   top: 105px;
   width: 1105px;
   z-index: 2;
}
#wb_indexImage2 {
   height: 137px;
   left: 50px;
   position: absolute;
   top: 201px;
   width: 179px;
   z-index: 1;
}
#wb_uid7 {
   color: #000000;
}
#wb_uid0 {
   color: #8B4513;
}
@media only screen and (max-width: 1299px) {
div#container {
   width: 320px;
}
body {
   background-color: #FFFFFF;
   background-image: none;
}
#wb_indexText1 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 60px;
   left: 10px;
   top: 12px;
   visibility: visible;
   width: 300px;
}
#wb_indexText1 {
   font-family: Arial;
   font-size: 53px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText3 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 27px;
   left: 10px;
   top: 319px;
   visibility: visible;
   width: 300px;
}
#wb_indexText3 {
   font-family: Arial;
   font-size: 24px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText4 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 54px;
   left: 10px;
   top: 86px;
   visibility: visible;
   width: 290px;
}
#wb_indexText4 {
   font-family: Arial;
   font-size: 24px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexCssMenu2 {
   left: 15px;
   margin: 0;
   text-align: center;
   top: 400px;
   visibility: visible;
}
#wb_indexCssMenu2 li {
   width: 100%;
}
#wb_indexCssMenu2 a {
   background-color: #0000CD;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   height: 55px;
   line-height: 55px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   width: 95.1%;
}
#wb_indexCssMenu2 li:hover a,
#wb_indexCssMenu2 a:hover {
   color: #FFFFFF;
}
.indexCssMenu2-effect:before {
   background-color: #4169E1;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#indexLayer1 {
   background-attachment: scroll;
   background-color: transparent;
   background-image: url(../images/7788443300.jpg);
   background-position: center center  !important;
   background-repeat: repeat;
   background-size: cover;
   display: inline;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   height: 330px;
   left: 0px;
   text-decoration: none;
   top: 486px;
   visibility: visible;
}
#indexLayer1 {
   width: 100%;
}
#indexLayer1_Container {
   width: 320px;
}
#wb_indexHeading1 {
   background-color: transparent;
   background-image: none;
   color: #93141F;
   display: inline;
   font-family: Arial;
   font-size: 32px;
   font-style: normal;
   font-weight: bold;
   height: 149px;
   left: 10px;
   margin: 0;
   padding: 0;
   text-decoration: none;
   top: 34px;
   visibility: visible;
   width: 300px;
}
#wb_indexHeading1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
}
#indexHeading1 {
   color: #93141F;
   font-family: Arial;
   font-size: 32px;
   font-weight: bold;
}
#wb_indexText5 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 144px;
   left: 15px;
   top: 183px;
   visibility: visible;
   width: 290px;
}
#wb_indexText5 {
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexImage2 {
   display: none;
   height: 84px;
   left: 30px;
   margin: 0;
   padding: 0;
   top: 191px;
   visibility: hidden;
   width: 109px;
}
#wb_indexCssMenu3 {
   left: 0px;
   margin: 0;
   text-align: center;
   top: 162px;
   visibility: visible;
}
#wb_indexCssMenu3 li {
   width: 25%;
}
#wb_indexCssMenu3 a {
   background-color: #808080;
   background-image: none;
   border: 0px solid #CCCCCC;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 17px;
   font-style: normal;
   font-weight: normal;
   height: 60px;
   line-height: 60px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   width: 84.62%;
}
#wb_indexCssMenu3 li:hover a,
#wb_indexCssMenu3 a:hover {
   background-color: #A9A9A9;
   background-image: none;
   border: 0px solid #2E6DA4;
   color: #FFFFFF;
}
#wb_indexCssMenu1 {
   display: none;
   left: 0px;
   margin: 0;
   text-align: center;
   top: 220px;
   visibility: hidden;
}
#wb_indexCssMenu1 li {
   width: 25%;
}
#wb_indexCssMenu1 a {
   background-color: #808080;
   background-image: none;
   border: 0px solid #CCCCCC;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   height: 60px;
   line-height: 60px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   width: 96.28%;
}
#wb_indexCssMenu1 li:hover a,
#wb_indexCssMenu1 a:hover {
   background-color: #A9A9A9;
   background-image: none;
   border: 0px solid #2E6DA4;
   color: #FFFFFF;
}
#wb_indexImage1 {
   display: inline;
   height: 50px;
   left: 25px;
   margin: 0;
   padding: 0;
   top: 245px;
   visibility: visible;
   width: 50px;
}
#wb_indexText2 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 68px;
   left: 65px;
   top: 236px;
   visibility: visible;
   width: 220px;
}
#wb_indexText2 {
   font-family: Arial;
   font-size: 29px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: right;
}
}
