div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1300px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_indexText1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_indexText1 {
   color: #93141F;
   font-family: Arial;
   font-size: 43px;
   font-weight: normal;
}
#wb_indexText1 div {
   text-align: left;
}
#wb_indexText3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText3 {
   color: #000000;
   font-family: Arial;
   font-size: 24px;
   font-weight: normal;
}
#wb_indexText3 div {
   text-align: center;
}
#wb_indexText4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_indexText4 {
   color: #000000;
   font-family: Arial;
   font-size: 24px;
   font-weight: normal;
}
#wb_indexText4 div {
   text-align: left;
}
#wb_indexCssMenu2 {
   -webkit-align-self: auto;
   -webkit-flex-grow: 0;
   -webkit-flex-shrink: 0;
   align-self: auto;
   background-color: transparent;
   border: 0px solid #C0C0C0;
   flex-grow: 0;
   flex-shrink: 0;
   margin: 0;
   text-align: center;
}
#wb_indexCssMenu2 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_indexCssMenu2 li {
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_indexCssMenu2 a {
   background-color: #0000CD;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 5px;
   color: #FFFFFF;
   display: block;
   float: left;
   font-family: Arial;
   font-size: 19px;
   font-style: normal;
   font-weight: normal;
   height: 55px;
   line-height: 55px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 92.55%;
}
#wb_indexCssMenu2 li:hover a,
#wb_indexCssMenu2 a:hover {
   color: #FFFFFF;
}
.indexCssMenu2-effect:before {
   background-color: #4169E1;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_indexCssMenu2 li.firstmain {
   padding-left: 0px;
}
#wb_indexCssMenu2 li.lastmain {
   padding-right: 0px;
}
#wb_indexCssMenu2 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.indexCssMenu2-effect {
   -webkit-transform: perspective(0px) translateX(0);
   -webkit-transition: color 200ms linear;
   display: inline-block;
   overflow: hidden;
   position: relative;
   transform: perspective(0px) translateX(0);
   transition: color 200ms linear;
}
.indexCssMenu2-effect:before {
   -webkit-transform: scale(0);
   -webkit-transition: all 200ms linear;
   border-radius: 100%;
   bottom: 0;
   content: "";
   left: 0;
   opacity: 0;
   position: absolute;
   right: 0;
   top: 0;
   transform: scale(0);
   transition: all 200ms linear;
   z-index: -1;
}
.indexCssMenu2-effect:hover:before,
.indexCssMenu2-effect:focus:before,
.indexCssMenu2-effect:active:before {
   -webkit-transform: scale(2);
   opacity: 1;
   transform: scale(2);
}
#wb_страница1LayoutGrid1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#страница1LayoutGrid1 {
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}
#страница1LayoutGrid1 > .col-1,
#страница1LayoutGrid1 > .col-2,
#страница1LayoutGrid1 > .col-3 {
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#страница1LayoutGrid1 > .col-1,
#страница1LayoutGrid1 > .col-2,
#страница1LayoutGrid1 > .col-3 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#страница1LayoutGrid1 > .col-1 {
   -webkit-align-self: flex-start;
   -webkit-justify-content: flex-start;
   align-self: flex-start;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 41.66666667%;
   justify-content: flex-start;
   max-width: 41.66666667%;
   text-align: left;
}
#страница1LayoutGrid1 > .col-2 {
   -webkit-align-self: center;
   -webkit-justify-content: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 16.66666667%;
   justify-content: center;
   max-width: 16.66666667%;
   text-align: center;
}
#страница1LayoutGrid1 > .col-3 {
   -webkit-align-self: flex-start;
   -webkit-justify-content: center;
   align-self: flex-start;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 41.66666667%;
   justify-content: center;
   max-width: 41.66666667%;
   text-align: center;
}
@media (max-width: 800px) {
#страница1LayoutGrid1 > .col-1,
#страница1LayoutGrid1 > .col-2,
#страница1LayoutGrid1 > .col-3 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_страница1Image2 {
   margin: 0;
   vertical-align: top;
}
#страница1Image2 {
   border: 0px solid #000000;
   display: inline-block;
   height: 47px;
   padding: 0;
   vertical-align: top;
   width: 47px;
}
#wb_страница1Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_страница1Text2 {
   color: #8B4513;
   font-family: Arial;
   font-size: 24px;
   font-weight: normal;
}
#wb_страница1Text2 div {
   text-align: center;
}
#wb_страница1LayoutGrid3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#страница1LayoutGrid3 {
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   max-width: 300px;
   padding: 0;
}
#страница1LayoutGrid3 > .col-1,
#страница1LayoutGrid3 > .col-2 {
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#страница1LayoutGrid3 > .col-1,
#страница1LayoutGrid3 > .col-2 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#страница1LayoutGrid3 > .col-1 {
   -webkit-align-self: center;
   -webkit-justify-content: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 16.66666667%;
   justify-content: center;
   max-width: 16.66666667%;
   text-align: center;
}
#страница1LayoutGrid3 > .col-2 {
   -webkit-align-self: center;
   -webkit-justify-content: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 83.33333333%;
   justify-content: center;
   max-width: 83.33333333%;
   text-align: center;
}
@media (max-width: 480px) {
#страница1LayoutGrid3 > .col-1,
#страница1LayoutGrid3 > .col-2 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_страница1FlexContainer2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#страница1FlexContainer2 {
   -webkit-align-content: center;
   -webkit-align-items: center;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -webkit-justify-content: center;
   align-content: center;
   align-items: center;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   font-size: 0px;
   justify-content: center;
   margin-bottom: 0px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   max-width: 290px;
   padding: 10px 10px 10px 10px;
   position: relative;
}
#wb_uid1 {
   color: #0000CD;
}
#wb_uid2 {
   color: #93141F;
}
#wb_uid3 {
   color: #0000CD;
}
#wb_indexCssMenu2 {
   display: inline-block;
   height: 55px;
   width: 192px;
   z-index: 2;
}
#wb_uid4 {
   color: #000000;
}
#wb_uid5 {
   color: #8B4513;
}
#wb_uid6 {
   color: #000000;
}
#wb_страница1Image2 {
   display: inline-block;
   height: 47px;
   width: 47px;
   z-index: 4;
}
#wb_uid0 {
   color: #93141F;
}
