
.wafx-menu-wrapper {
  overflow:hidden;
  width:100%;
  height:100%;
}

.wafx-menu 
{
     display:flex;
     height:100%;

} 

.wafx-menu-bt-hamburger {
     display:none;
     cursor:pointer;
         flex-direction:row;
    align-items: center;

    } 

.wafxMenuPopupItem {
  display:flex;flex-direction: row;align-items:center;justify-content : space-between;
  cursor:pointer;
}



.wafx-menu li
{
  height:100%;
  cursor:default;
}

.wafx-menu-frame-main {

    list-style: none; 
    display:flex;
    flex-direction:row;

    padding:0px;margin:0px;
    height: 100%; 
  }

.wafx-menu-frame  .wafx-menu-item {


    display:flex;
    align-items: center;
  height:100%;
    white-space: pre;

}

.wafx-menu-frame-main .wafx-menu-item {
    display:flex;
    align-items: center;
  height:100%;

white-space: pre;

}

.wafx-menu-item.wafxLink{
cursor:pointer;
}


.wafx-menu-frame {
  display:none;
  list-style: none; 
}



/*   page XS   */

.wafxBgMenu {
  display:none;
  background-color: rgba(0,0,0,0.7);
  z-index:100000;
}


.wafxCloseBgMenu {
  cursor:pointer;
  display:flex;
  padding:0px;
  margin:0px;
     align-items: center;
  justify-content: flex-end;
    line-height: 0px;

    height:50px;
}

.wafxCloseBgMenu svg {
  fill: white;
  transform: scale(1.6);
}


.wafxMenuBgStaticPanel {
  z-index:10000;
  width:100%;
  position: fixed;

    margin:0px;
    padding:0px;
    margin-left:10px;
    width:100%;
}




.wafxMenuPageBack {
  cursor:pointer;
  text-decoration:none;
   width:100%;
}

.wafxMenuPageGroupItem {
  position:absolute;
  list-style: none; 


  position: fixed;
  overflow:auto;
  padding:0px;
  margin:0px;
  margin-left:10px;
  cursor: default;
}


.wafxMenuPageItem {
  cursor:pointer;
  text-decoration:none;
  display:flex;
  padding:0px;
  margin:0px;
}


.wafxMenuLinkContainer {
  display:flex;
flex-direction: row;
justify-content : space-between;
width:100%;
}
.wafxMenuLinkText {
  display:flex;

  padding: 0px;
}

.wafxMenuLinkArrow{
  display:flex;
 padding: 0px;
}


