@import url(../../../https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(../../../https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(../../../https://fonts.googleapis.com/css?family=Montserrat:400,700);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.6rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}
.display-7 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.88rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.navbar .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #7f1933 !important;
}
.bg-success {
  background-color: #f24614 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary {
  background-color: #7f1933;
  border-color: #7f1933;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #3f0c19;
  border-color: #3f0c19;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #3f0c19 !important;
  border-color: #3f0c19 !important;
}
.btn-secondary {
  background-color: #cc2952;
  border-color: #cc2952;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #8c1c38;
  border-color: #8c1c38;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #8c1c38 !important;
  border-color: #8c1c38 !important;
}
.btn-info {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success {
  background-color: #f24614;
  border-color: #f24614;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #b02f0a;
  border-color: #b02f0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b02f0a !important;
  border-color: #b02f0a !important;
}
.btn-warning {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-primary-outline {
  background: none;
  border-color: #2a0811;
  color: #2a0811;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #7f1933;
  border-color: #7f1933;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #7f1933 !important;
  border-color: #7f1933 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #771830;
  color: #771830;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #cc2952;
  border-color: #cc2952;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #cc2952 !important;
  border-color: #cc2952 !important;
}
.btn-info-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline {
  background: none;
  border-color: #982908;
  color: #982908;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f24614;
  border-color: #f24614;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f24614 !important;
  border-color: #f24614 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.text-primary {
  color: #7f1933 !important;
}
.text-secondary {
  color: #cc2952 !important;
}
.text-success {
  color: #f24614 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #2a0811 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #771830 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #982908 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.btn-white-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline:active,
.btn-white-outline.active {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-black-outline {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline:active,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.mbr-gallery-filter li.active .btn {
  background-color: #7f1933;
  border-color: #7f1933;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #7f1933;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d93e66;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fdded5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #7f1933;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.navbar-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #7f1933;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #7f1933;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #7f1933;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #7f1933;
}
/* Headers*/
.cid-qooqH3vwnj .navbar {
  background: #232323;
  transition: none;
  min-height: 77px;
}
.cid-qooqH3vwnj .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-qooqH3vwnj a {
  font-style: normal;
}
.cid-qooqH3vwnj .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qooqH3vwnj .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qooqH3vwnj .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qooqH3vwnj .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qooqH3vwnj .menu-logo {
  margin-right: auto;
}
.cid-qooqH3vwnj .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qooqH3vwnj .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qooqH3vwnj .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qooqH3vwnj .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qooqH3vwnj .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
  height: 3.8rem;
}
.cid-qooqH3vwnj .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qooqH3vwnj .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qooqH3vwnj .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qooqH3vwnj .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qooqH3vwnj .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qooqH3vwnj .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qooqH3vwnj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qooqH3vwnj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qooqH3vwnj .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qooqH3vwnj .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qooqH3vwnj .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qooqH3vwnj .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qooqH3vwnj .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qooqH3vwnj .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qooqH3vwnj .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qooqH3vwnj .navbar.navbar-short .navbar-logo a img {
  height: 3rem;
}
.cid-qooqH3vwnj .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qooqH3vwnj button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qooqH3vwnj button.navbar-toggler:focus {
  outline: none;
}
.cid-qooqH3vwnj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qooqH3vwnj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qooqH3vwnj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qooqH3vwnj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qooqH3vwnj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qooqH3vwnj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qooqH3vwnj nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qooqH3vwnj nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qooqH3vwnj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qooqH3vwnj .collapsed .btn {
  display: flex;
}
.cid-qooqH3vwnj .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qooqH3vwnj .collapsed .navbar-collapse.collapsing,
.cid-qooqH3vwnj .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qooqH3vwnj .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qooqH3vwnj .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qooqH3vwnj .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qooqH3vwnj .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qooqH3vwnj .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qooqH3vwnj .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qooqH3vwnj .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qooqH3vwnj .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qooqH3vwnj .collapsed button.navbar-toggler {
  display: block;
}
.cid-qooqH3vwnj .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qooqH3vwnj .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qooqH3vwnj .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qooqH3vwnj .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qooqH3vwnj .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qooqH3vwnj .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qooqH3vwnj .btn {
    display: flex;
  }
  .cid-qooqH3vwnj button.navbar-toggler {
    display: block;
  }
  .cid-qooqH3vwnj .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qooqH3vwnj .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qooqH3vwnj .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qooqH3vwnj .navbar-collapse.collapsing,
  .cid-qooqH3vwnj .navbar-collapse.show {
    display: block !important;
  }
  .cid-qooqH3vwnj .navbar-collapse.collapsing .navbar-nav,
  .cid-qooqH3vwnj .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qooqH3vwnj .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qooqH3vwnj .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qooqH3vwnj .navbar-collapse.collapsing .navbar-buttons,
  .cid-qooqH3vwnj .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qooqH3vwnj .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qooqH3vwnj .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qooqH3vwnj .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qooqH3vwnj .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qooqH3vwnj .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qooqH3vwnj .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qooqH3vwnj .nav-link,
.cid-qooqH3vwnj .dropdown-item {
  font-size: 20px;
}
.cid-qooqH3vwnj .navbar-caption {
  font-size: 32px;
}
.cid-qooqX3Ehir {
  background-image: url("../../../assets/images/22132435-1920x729.png");
}
.cid-qooqX3Ehir H1 {
  color: #cc2952;
  text-align: left;
}
.cid-qooqX3Ehir H3 {
  color: #232323;
  text-align: left;
}
.cid-qooqX3Ehir DIV {
  color: #232323;
}
.cid-qooqX3Ehir P {
  color: #f24614;
  text-align: left;
}
.cid-qooqX3Ehir SPAN {
  color: #f24614;
}
.cid-qooqX3Ehir B {
  color: #232323;
}
.cid-qoxMC3vOyI {
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-qoxMC3vOyI .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-qoxMC3vOyI .mbr-section-title,
.cid-qoxMC3vOyI .mbr-section-btn {
  text-align: center;
  color: #7f1933;
}
.cid-qoxMC3vOyI P {
  color: #232323;
  text-align: center;
}
.cid-qoxMC3vOyI B {
  color: #7f1933;
}
.cid-qoxY0YLf59 {
  background-image: url("../../../assets/images/akc-bg-kopiya-1920x1046.png");
}
.cid-qoxY0YLf59 .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-qoxY0YLf59 .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-qoxY0YLf59 .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-qoxY0YLf59 .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-qoxY0YLf59 .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-qoxY0YLf59 a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-qoxY0YLf59 a.close:hover {
  color: #ffffff;
}
.cid-qoxY0YLf59 P {
  color: #7f1933;
}
.cid-qoxY0YLf59 .icon-description B {
  color: #f24614;
}
.cid-qoy0BysDGE {
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-qoy0BysDGE .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-qoy0BysDGE .mbr-section-title,
.cid-qoy0BysDGE .mbr-section-btn {
  text-align: left;
  color: #7f1933;
}
.cid-qoy0BysDGE P {
  color: #232323;
}
.cid-qoy1OlJn5a {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/akc-bg-kopiya-1920x1046.png");
}
.cid-qoy1OlJn5a h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qoy1OlJn5a p {
  color: #767676;
  text-align: left;
}
.cid-qoy1OlJn5a .card-box {
  padding-top: 2rem;
}
.cid-qoy1OlJn5a .card-title {
  color: #7f1933;
}
.cid-qoy1OlJn5a P {
  color: #232323;
  text-align: left;
}
.cid-qoy5jMf88P {
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-qoy5jMf88P .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-qoy5jMf88P .mbr-section-title,
.cid-qoy5jMf88P .mbr-section-btn {
  text-align: left;
  color: #7f1933;
}
.cid-qoy5jMf88P P {
  color: #232323;
}
.cid-qoy60db7Lc {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/akc-bg-kopiya-1920x1046.png");
}
.cid-qoy60db7Lc h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qoy60db7Lc p {
  color: #767676;
  text-align: left;
}
.cid-qoy60db7Lc .card-box {
  padding-top: 2rem;
}
.cid-qoy60db7Lc .card-title {
  color: #7f1933;
}
.cid-qoy60db7Lc P {
  color: #232323;
}
.cid-qoy8eG7ti7 {
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-qoy8eG7ti7 .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-qoy8eG7ti7 .mbr-section-title,
.cid-qoy8eG7ti7 .mbr-section-btn {
  text-align: left;
  color: #7f1933;
}
.cid-qoy8eG7ti7 P {
  color: #232323;
}
.cid-qoy9xHRR03 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/akc-bg-kopiya-1920x1046.png");
}
.cid-qoy9xHRR03 .testimonial-text {
  font-style: italic;
  color: #676767;
  font-weight: 300;
}
.cid-qoy9xHRR03 .mbr-author-name {
  font-weight: bold;
  color: #232;
}
.cid-qoy9xHRR03 .mbr-author-desc {
  color: #232;
}
.cid-qoy9xHRR03 .testimonial-text SPAN {
  color: #7f1933;
}
