a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_1d0e9860 a { text-decoration: none; }
#menu_1d0e9860_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1d0e9860_hr { background-color: #646464; height: 1px; border: none; }
#menu_1d0e9860_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1d0e9860_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1d0e9860_entry:hover span { color:#FFFFFF !important; }
		.menu_1d0e9860_mainMenuEntry { text-align: center; }
		.menu_1d0e9860_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_1d0e9860_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_1d0e9860 .mobileEntry { display: none; } 
		#menu_1d0e9860 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_1d0e9860 .mobileEntry { display: block; } 
			#menu_1d0e9860 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_3aee8af7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; min-width:200px; background:none;  }
#container_3aee8af7_padding { margin: 10px; display: block;  }
#text_6568132a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:20pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle4 { font-size:13pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#text_46d16b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle5 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_2c2aa590 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#2C2825;  }
#container_2c2aa590_padding { margin: 10px; display: block;  }
#menu_1d0e9860 { vertical-align: bottom; position:relative; display: inline-block; width:336px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:100px; height:34px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; width:100px; height:34px; left:110px;  }
.style4 { position:absolute; width:100px; height:34px; left:210px;  }
.textstyle7 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_3bca5026 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:61px; background-color:#FFFFFF; background-image: url(rc_images/river_banner.jpg); background-position:center left; background-size:cover;  }
#container_3bca5026_padding { margin: 10px; display: block;  }
#container_5a940f7f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; max-width:800px; background:none;  }
#container_5a940f7f_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:16pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#000000; line-height: 1.5;  }
.textstyle9 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; line-height: 1.5;  }
.textstyle10 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; line-height: 1.5;  }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 450px)
{
		#menu_1d0e9860 { width:100px;  }
}
@media only screen and (max-width: 400px)
{
		#text_6568132a * span { font-size:14pt;  }
		#text_46d16b { display:none;  }
}
