h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_27858737 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFA925;  }
#button_27858737:hover { background-color:#F4D274;  }
#button_27858737:hover span { color:#FFFFFF; }
#gallery_27fdaa10 div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center;  } 
#gallery_27fdaa10 div.galleryimgcontainer img {  width: 100%; border-radius: 10px;  } 
@media only screen and (max-width:800px) { #gallery_27fdaa10 div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:480px) { #gallery_27fdaa10 div.galleryimgcontainer { width: 100%; } } 
#gallery_4e5f1f5c div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_4e5f1f5c div.galleryimgcontainer img {  width: 100%; border: 3px solid #A0A0A0; border: 3px solid #A0A0A0; border-radius: 10px;  } 
@media only screen and (max-width:800px) { #gallery_4e5f1f5c div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:480px) { #gallery_4e5f1f5c div.galleryimgcontainer { width: 100%; } } 
#gallery_4e5f1f5c img:hover{ border: 3px solid #FF0000 !important; } 
#menu_7d35d100 a { text-decoration: none; }
#menu_7d35d100_pane { background-color: #808080; border: 1px solid #400040; padding-top: 25px; padding-bottom: 25px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7d35d100_hr { background-color: #400040; height: 1px; border: none; }
#menu_7d35d100_entry { padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; }
#menu_7d35d100_entry:hover { background-color: #323232; color: #FFFF80 !important; }
#menu_7d35d100_entry:hover span { color:#FFFF80 !important; }
		.menu_7d35d100_mainMenuEntry { text-align: center; }
		.menu_7d35d100_mainMenuEntry:hover {	background-color:#282828; }
		.menu_7d35d100_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7d35d100 .mobileEntry { display: none; } 
		#menu_7d35d100 .normalEntry { display: block; } 
		@media only screen and (max-width:670px) { 
			#menu_7d35d100 .mobileEntry { display: block; } 
			#menu_7d35d100 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_53797471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:119px; background-color:#FFFFFF;  }
#container_53797471_padding { margin: 20px 10px 20px 10px;display: block;  }
.textstyle2 { font-size:40pt; font-family:'Lucida Console', Monaco, monospace; color:#000000; font-weight:bold;  }
.textstyle3 { font-size:40pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle4 { font-size:16pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFA925; font-weight:bold;  }
.textstyle5 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle6 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_650abe15 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background-color:#FFFFFF; border-top: 1px solid #FFA925; border-left: none; border-right: none; border-bottom: none;  }
#container_650abe15_padding { margin: 10px 0px 10px 0px;display: block;  }
.textstyle7 { text-align:left; }
#menu_7d35d100 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; height:50px; text-align:left; background-color:#C0C0C0; background: linear-gradient(to bottom, #808080, #C0C0C0); border-top: 2px solid #404040; border-left: none; border-right: none; border-bottom: 2px solid #404040;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:150px; height:50px; left:25px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:39px;  }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:27px;  }
.textstyle9 { font-size:16pt; font-family:'PT Sans Narrow'; color:#000000;  white-space: nowrap; }
.style4 { position:absolute; width:150px; height:50px; left:175px;  }
.style5 { position:absolute; width:150px; height:50px; left:325px;  }
.textstyle10 { font-size:16pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  white-space: nowrap; }
#placeh_450824da { vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#container_73cb5bf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#0080C0;  }
#container_3205b59a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#242342; background-image: url(rc_images/restaurant_dark_glass.jpg); background-position:top left; background-size:cover;  }
#container_3205b59a_padding { margin: 20px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_12e144f2 { vertical-align: top; position:relative; display: inline-block; width:45%; min-height:316px; min-width:300px; background:none; line-height: 1.5; }
#container_12e144f2_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
.textstyle13 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFA925;  }
.textstyle14 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#807AF9;  }
.textstyle15 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle16 { font-size:24pt; font-family:'PT Sans Narrow'; color:#FF8000; font-weight:bold;  }
.textstyle17 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle18 { text-align:justify; }
.textstyle19 { font-size:14pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  }
.textstyle20 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.5;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle21 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#heading_24f5362d { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:26pt; font-family:'PT Sans Narrow'; color:#FFFFFF; text-align:center;  }
#container_6a0088e0 { vertical-align: top; border-radius: 4px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#008080;  }
#container_6a0088e0_padding { margin: 20px; display: block;  }
#container_406604df { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:266px; max-width:1200px; background:none;  }
#container_406604df_padding { margin: 10px; display: block;  }
#container_588c0ec4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_588c0ec4_padding { margin: 10px; display: block;  }
#img_721fbbe0 { box-sizing: border-box; vertical-align: bottom; border-radius: 4px; position:relative; display: inline-block; width:100%; background:none; border: 3px solid #800040; height:auto;  }
.textstyle22 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FF8000; font-weight:bold;  }
#container_63fc54d8 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_63fc54d8_padding { margin: 10px; display: block;  }
#img_390aab84 { box-sizing: border-box; vertical-align: bottom; border-radius: 4px; position:relative; display: inline-block; width:100%; background:none; border: 3px solid #800040; height:auto;  }
#container_42e1be39 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_42e1be39_padding { margin: 10px; display: block;  }
#img_14e88ee0 { box-sizing: border-box; vertical-align: bottom; border-radius: 4px; position:relative; display: inline-block; width:100%; background:none; border: 3px solid #800040; height:auto;  }
.textstyle23 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#slide_94f4ad3 { overflow:hidden; vertical-align: top; position:relative; display: inline-block; width:100%; height:0; padding-top:33%; background:none;  }
.textstyle24 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#gallery_27fdaa10 { overflow:hidden; vertical-align: top; border-radius: 10px; position:relative; display: inline-block; width:94%; min-height:270px; max-width:1200px;  }
#container_540f65a5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F1F1F1;  }
#container_540f65a5_padding { margin: 10px; display: block;  }
#container_23c309f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_23c309f5_padding { margin: 10px; display: block;  }
#container_7635e4ac { vertical-align: top; position:relative; display: inline-block; width:40%; min-height:346px; background-color:#FFFFFF; background-image: url(rc_images/06062022ryu1__8__1200x1200.jpg); background-position:top left; background-size:cover;  }
#container_7635e4ac_padding { margin: 10px; display: block;  }
#container_21b57895 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:365px; background-color:rgba(0, 64, 64, 0.74902);  }
#container_21b57895_padding { margin: 10px; display: block;  }
#text_218b9b00 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; border: 2px solid #FFFFFF;  }
#text_218b9b00_padding { margin: 10px 0px 10px 0px;display: block;  }
.textstyle25 { font-size:26pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  }
.textstyle26 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle27 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle28 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF00; font-weight:bold;  }
#text_60320bed { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; border: 2px solid #FFFFFF;  }
.textstyle29 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_18a8c6ca { vertical-align: top; position:relative; display: inline-block; width:10%; min-height:60px; background:none;  }
#container_18a8c6ca_padding { margin: 10px; display: block;  }
#container_465fee16 { vertical-align: top; position:relative; display: inline-block; width:40%; min-height:346px; background-color:#FFFFFF; background-image: url(rc_images/06062022ryu1__8__1200x1200.jpg); background-position:top left; background-size:cover;  }
#container_465fee16_padding { margin: 10px; display: block;  }
#container_48b5813c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:365px; background-color:rgba(0, 64, 64, 0.74902);  }
#container_48b5813c_padding { margin: 10px; display: block;  }
#text_459f1faa { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; border: 2px solid #FFFFFF;  }
#text_9663379 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; border: 2px solid #FFFFFF;  }
#gallery_4e5f1f5c { overflow:hidden; box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:100%; max-width:1200px;  }
#container_12dee79e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFA925;  }
#container_12dee79e_padding { margin: 20px; display: block;  }
.textstyle30 { font-size:26pt; font-family:'PT Sans Narrow'; color:#800000; font-weight:bold;  }
.textstyle31 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; font-weight:bold;  }
.textstyle32 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_79dff3b4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_79dff3b4_padding { margin: 10px; display: block;  }
.textstyle33 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#004080; font-weight:bold;  }
#container_2bc926a0 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2bc926a0_padding { margin: 10px; display: block;  }
#container_15f9c727 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_15f9c727_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 650px)
{
		#container_79dff3b4 { width:100%;  }
		#container_2bc926a0 { width:100%;  }
		#container_15f9c727 { width:100%;  }
}
@media only screen and (max-width: 768px)
{
		#container_588c0ec4 { width:100%;  }
		#container_63fc54d8 { width:100%;  }
		#container_42e1be39 { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#container_7635e4ac { width:100%;  }
		#container_18a8c6ca { width:100%;  }
		#container_465fee16 { width:100%;  }
}
