body {-webkit-nbsp-mode:normal !important;margin: 0px !important;padding:0px !important;line-height:1.4 !important;} .wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{margin:0px !important;padding:0px !important;text-align:center;} .wafxText  a{font-weight:400;font-style:normal;text-decoration:none;color:#053497;} .wafxText  a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#053497;} .wafxText p.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h1.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h2.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h3.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h4.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h5.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h6.waStyle-07814090-015a-4667-b100-c9fcb946f638{text-align:center;} .waStyle-07814090-015a-4667-b100-c9fcb946f638 a:link{font-weight:400;font-style:normal;text-decoration:none;color:#053497;} .waStyle-07814090-015a-4667-b100-c9fcb946f638 a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#053497;} 
@media(max-width:768px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h1.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h2.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h3.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h4.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h5.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h6.waStyle-07814090-015a-4667-b100-c9fcb946f638{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
@media(min-width:768px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h1.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h2.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h3.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h4.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h5.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h6.waStyle-07814090-015a-4667-b100-c9fcb946f638{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
@media(min-width:1025px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#5c5c5c;font-family:Arial;font-size:16px;;font-weight:0;;}
.wafxText p.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h1.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h2.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h3.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h4.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h5.waStyle-07814090-015a-4667-b100-c9fcb946f638,.wafxText h6.waStyle-07814090-015a-4667-b100-c9fcb946f638{color:#5c5c5c;font-family:Arial;font-size:16px;;font-weight:0;;}
}
.smt-wa-default{
color:#000000;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-default a{
color:#0000ff !important;text-decoration:underline !important;}

.comp_0{position:absolute;z-index:5;}
.comp_0 .wafx-menunid1 .wafx-menu-bt-hamburger svg{fill:#ffffff;}
.comp_1{position:absolute;z-index:0;}
.comp_10{background-color:#c32914;position:absolute;z-index:50025;}
.comp_11{-webkit-nbsp-mode:normal;letter-spacing:normal;margin:5px !important;margin-left:0px !important;margin-top:0px !important;overflow:hidden;padding:0px !important;position:absolute;word-spacing:0px;word-wrap:break-word;z-index:50030;}
.comp_12{background-color:#ffffff;border:1px solid rgba(130,27,13,0);border-radius:10px;color:#c32914;cursor:pointer;display:flex;justify-content:center;margin:-1px;position:absolute;text-decoration:none;z-index:50035;}
.comp_12 .inner-box{border:1px solid rgba(255,86,63,0);border-radius:9px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_12 .text_content{align-items:center;display:flex;font-family:'Lato';font-style:normal;font-weight:400;}
.comp_13{position:absolute;z-index:50040;}
.comp_14{background-color:#333333;position:absolute;z-index:50045;}
.comp_15{-webkit-nbsp-mode:normal;letter-spacing:normal;margin:5px !important;margin-left:0px !important;margin-top:0px !important;overflow:hidden;padding:0px !important;position:absolute;word-spacing:0px;word-wrap:break-word;z-index:50050;}
.comp_16{-webkit-nbsp-mode:normal;letter-spacing:normal;margin:5px !important;margin-left:0px !important;margin-top:0px !important;overflow:hidden;padding:0px !important;position:absolute;word-spacing:0px;word-wrap:break-word;z-index:50055;}
.comp_17{-webkit-nbsp-mode:normal;letter-spacing:normal;margin:5px !important;margin-left:0px !important;margin-top:0px !important;overflow:hidden;padding:0px !important;position:absolute;word-spacing:0px;word-wrap:break-word;z-index:50060;}
.comp_18{-webkit-nbsp-mode:normal;letter-spacing:normal;margin:5px !important;margin-left:0px !important;margin-top:0px !important;overflow:hidden;padding:0px !important;position:absolute;word-spacing:0px;word-wrap:break-word;z-index:50065;}
.comp_19{position:absolute;z-index:50070;}
.comp_2{background-color:#333333;position:absolute;z-index:10005;}
.comp_20{-webkit-nbsp-mode:normal;letter-spacing:normal;margin:5px !important;margin-left:0px !important;margin-top:0px !important;overflow:hidden;padding:0px !important;position:absolute;word-spacing:0px;word-wrap:break-word;z-index:50075;}
.comp_21{background-color:rgba(255,255,255,0.2);position:absolute;z-index:50005;}
.comp_22{position:absolute;z-index:50080;}
.comp_22 .wafx-carousel{background-color:rgba(0,0,0,0);}
.comp_23{position:absolute;z-index:50085;}
.comp_24{background-position:center center;background-size:cover;position:absolute;z-index:50090;}
.comp_25{background-color:rgba(0,0,0,0);position:absolute;z-index:50110;}
.comp_26{background-position:center center;background-repeat:repeat;background-size:contain;position:absolute;z-index:50095;}
.comp_27{background-color:#103440;position:absolute;z-index:50100;}
.comp_28{background-color:rgba(0,0,0,0);border:1px solid #effef5;margin:-1px;position:absolute;z-index:50105;}
.comp_29{background-color:rgba(0,0,0,0);border:1px solid #effef5;margin:-1px;position:absolute;z-index:50125;}
.comp_3{background-color:rgba(0,0,0,0);position:absolute;z-index:10025;}
.comp_30{background-position:center center;background-repeat:repeat;background-size:contain;position:absolute;z-index:50115;}
.comp_31{background-color:rgba(0,0,0,0);position:absolute;z-index:50130;}
.comp_32{background-color:#103440;position:absolute;z-index:50120;}
.comp_4{background-position:center center;background-size:cover;position:absolute;z-index:50000;}
.comp_5{background-color:#c32914;border:1px solid rgba(130,27,13,0);border-radius:0px;color:#ffffff;cursor:pointer;display:flex;justify-content:center;margin:-1px;position:absolute;text-decoration:none;z-index:50140;}
.comp_5 .inner-box{border:1px solid rgba(255,86,63,0);border-radius:0px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_5 .text_content{align-items:center;display:flex;font-family:'Lato';font-style:normal;font-weight:400;}
.comp_6{-webkit-nbsp-mode:normal;letter-spacing:normal;margin:5px !important;margin-left:0px !important;margin-top:0px !important;overflow:hidden;padding:0px !important;position:absolute;word-spacing:0px;word-wrap:break-word;z-index:50135;}
.comp_7{-webkit-nbsp-mode:normal;letter-spacing:normal;margin:5px !important;margin-left:0px !important;margin-top:0px !important;overflow:hidden;padding:0px !important;position:absolute;word-spacing:0px;word-wrap:break-word;z-index:50010;}
.comp_8{background-color:#333333;position:absolute;z-index:50015;}
.comp_9{background-color:#ffffff;position:absolute;z-index:50020;}
.t0{color:#ffffff;font-family:Lato;font-weight:700;}
.t1{color:#c32914;}
.t10{color:#c32914;font-family:Lato;font-weight:700;}
.t11{color:#333333;font-family:Open Sans;}
.t12{font-family:Open Sans;font-weight:700;}
.t13{color:#c32914;font-family:Open Sans;}
.t14{color:#c32914;font-family:Open Sans;}
.t15{font-family:Open Sans;}
.t16{font-family:Open Sans;font-weight:700;}
.t17{font-family:Open Sans;font-style:italic;}
.t18{font-family:Open Sans;}
.t19{font-family:Open Sans;font-weight:700;}
.t2{color:#ffffff;font-family:Lato;}
.t20{font-family:Open Sans;font-style:italic;}
.t21{font-family:Open Sans;}
.t22{font-family:Open Sans;font-weight:700;}
.t23{font-family:Open Sans;font-style:italic;}
.t24{font-family:Open Sans;font-weight:700;}
.t25{color:#c32914;font-family:Open Sans;}
.t26{color:#c32914;font-family:Open Sans;}
.t27{font-family:Open Sans;}
.t28{font-family:Open Sans;font-weight:700;}
.t29{font-family:Open Sans;font-style:italic;}
.t3{color:#c32914;}
.t30{font-family:Open Sans;}
.t31{font-family:Open Sans;font-weight:700;}
.t32{font-family:Open Sans;font-style:italic;}
.t33{font-family:Open Sans;}
.t34{font-family:Open Sans;font-weight:700;}
.t35{font-family:Open Sans;font-style:italic;}
.t36{font-family:Open Sans;font-weight:700;}
.t37{color:#c32914;font-family:Open Sans;}
.t38{color:#c32914;font-family:Open Sans;}
.t39{font-family:Open Sans;}
.t4{color:#c32914;font-family:Lato;font-weight:700;}
.t40{font-family:Open Sans;font-weight:700;}
.t41{font-family:Open Sans;font-style:italic;}
.t42{font-family:Open Sans;}
.t43{font-family:Open Sans;font-weight:700;}
.t44{font-family:Open Sans;font-style:italic;}
.t45{font-family:Open Sans;font-style:italic;}
.t46{font-family:Open Sans;font-weight:700;}
.t47{font-family:Open Sans;font-style:italic;}
.t48{font-family:Lato;font-weight:400;}
.t49{font-family:Lato;font-weight:700;}
.t5{color:#333333;font-family:Open Sans;}
.t50{font-family:Lato;font-weight:400;}
.t51{font-family:Lato;font-weight:400;}
.t6{color:#ffffff;}
.t7{color:#ffffff;font-family:Lato;}
.t8{color:#ffffff;font-family:Lato;}
.t9{color:#c32914;}
.wafx-menunid1 .wafx-menu-frame-main .wafx-menu-item{color:#ffffff;font-family:'Lato';font-style:normal;font-weight:400;padding:0px;padding-left:10px;padding-right:10px;text-decoration:none;}
.wafx-menunid1 .wafx-menu-frame-main .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid1 .wafxMenuItemLeftPad{padding-left:25px;}
.wafx-menunid1 .wafxMenuItemRightPad{padding-right:25px;}
.wafx-menunid1 .wafxMenuItemVerticalPad{padding-bottom:15px;padding-top:15px;}
.wafx-menunid1 .wafxMenuPageBackText{background-color:black;color:white;font-family:'Arial';font-style:normal;font-weight:400;padding-bottom:20px;padding-top:20px;}
.wafx-menunid1.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid1.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
body{background-color:#ffffff;}
@media(max-width:768px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:320px;}
.blockPagecontainer{width:320px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:none;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_31{display:block;}
.compVis_32{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background:none;background-color:transparent;border:none;height:43px;left:264.104px;top:8.5px;width:46px;}
.comp_0 .inner-box{border:none;}
.comp_1{background:linear-gradient(180deg,#3d3d3d 29%,#000000 104%);;height:60px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:0px;}
.comp_10{height:432px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2113px;}
.comp_11{height:189px;left:4px;top:2196.14px;width:309px;}
.comp_12{height:69px;left:33.5px;top:2396.2px;width:245px;}
.comp_12 .text_content{font-size:16px;padding-left:5px;padding-right:5px;}
.comp_13{height:484px;left:0px;top:2652px;width:320px;}
.comp_13 .thumb0{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/226_150_380150150_5775d1cd7a464cdb996229244cd227b2.jpg);background-size:150px 150px;height:150px;left:10px;position:absolute;top:17px;visibility:visible;width:150px;}
.comp_13 .thumb1{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/200_150_250150150_79f5e55c57c646179c92529969f15e40.jpg);background-size:150px 150px;height:150px;left:160px;position:absolute;top:17px;visibility:visible;width:150px;}
.comp_13 .thumb2{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/225_150_380150150_b9c550f8105a4258a39c0e2a034f813c.jpg);background-size:150px 150px;height:150px;left:10px;position:absolute;top:167px;visibility:visible;width:150px;}
.comp_13 .thumb3{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/208_150_290150150_4b6414b3e9494d81a17f2bbd7a679d75.jpg);background-size:150px 150px;height:150px;left:160px;position:absolute;top:167px;visibility:visible;width:150px;}
.comp_13 .thumb4{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/225_150_380150150_385a292a2e634b758b27fb84d679cbdd.jpg);background-size:150px 150px;height:150px;left:10px;position:absolute;top:317px;visibility:visible;width:150px;}
.comp_13 .thumb5{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/225_150_380150150_a7ee4acdf0ea45f6a4d565408356dc3a.jpg);background-size:150px 150px;height:150px;left:160px;position:absolute;top:317px;visibility:visible;width:150px;}
.comp_14{height:1px;left:127.125px;top:1727px;width:60px;}
.comp_15{height:115px;left:25.5px;top:125px;width:261px;}
.comp_16{height:365px;left:28px;top:246.871px;width:264px;}
.comp_17{height:370px;left:28.5px;top:637.293px;width:263px;}
.comp_18{height:321px;left:21.5px;top:1012.03px;width:277px;}
.comp_19{height:263px;left:1px;top:1560.47px;width:319px;}
.comp_19 .wafx-img-picture{height:263px;left:36px;top:0px;width:247px;}
.comp_2{height:163px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:4462px;}
.comp_20{height:256px;left:5px;top:1837.84px;width:310px;}
.comp_21{height:412px;left:0px;top:754px;width:320px;}
.comp_22{height:226px;left:0px;top:3136px;width:320px;}
.comp_22 .wafx-carousel{padding-bottom:70.625% !important;}
.comp_23{height:267px;left:0px;top:3379.72px;width:320px;}
.comp_23 .thumb0{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/120_120_00120120_19b8eabce2de4d258fbfcbf51e8b4100.jpg);background-size:120px 120px;height:120px;left:37px;position:absolute;top:10px;visibility:visible;width:120px;}
.comp_23 .thumb1{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/120_129_05120120_4c81e4257fb84684b2dccc8bdc504073.jpg);background-size:120px 120px;height:120px;left:163px;position:absolute;top:10px;visibility:visible;width:120px;}
.comp_23 .thumb2{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/124_120_20120120_5cc710d7bc644161989551e1d2e57307.jpg);background-size:120px 120px;height:120px;left:37px;position:absolute;top:136px;visibility:visible;width:120px;}
.comp_23 .thumb3{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/120_135_08120120_fe480a37f53445a4a9ffb8cf90cd0942.jpg);background-size:120px 120px;height:120px;left:163px;position:absolute;top:136px;visibility:visible;width:120px;}
.comp_24{background-image:url(./wafx_res/Images/0-1040-7779456456.jpg);height:107px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2545px;}
.comp_25{height:145px;left:29.5px;top:3854.89px;width:261px;}
.comp_25 .wafx-smt-txt-wrap{width:241px;}
.comp_26{background-image:url(./wafx_res/Images/0-592-price-akril.jpg);height:365px;left:12px;top:3672.5px;width:296px;}
.comp_27{height:343px;left:21.5px;opacity:0.75;top:3683.5px;width:277px;}
.comp_28{height:138px;left:37.5px;top:3696.9px;width:245px;}
.comp_28 .wafx-smt-txt-wrap{width:225px;}
.comp_29{height:138px;left:37.5px;top:4088.4px;width:245px;}
.comp_29 .wafx-smt-txt-wrap{width:225px;}
.comp_3{height:138px;left:0px;top:4481.08px;width:320px;}
.comp_3 .wafx-smt-txt-wrap{width:300px;}
.comp_30{background-image:url(./wafx_res/Images/0-592-price-akril.jpg);height:365px;left:12px;top:4064px;width:296px;}
.comp_31{height:145px;left:29.5px;top:4246.39px;width:261px;}
.comp_31 .wafx-smt-txt-wrap{width:241px;}
.comp_32{height:343px;left:21.5px;opacity:0.75;top:4075px;width:277px;}
.comp_4{background-image:url(./wafx_res/Images/0-3618-pasta-51532.jpg);height:1357px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:59.1027px;}
.comp_5{height:33px;left:160px;top:62px;width:160px;}
.comp_5 .text_content{font-size:14px;padding-left:5px;padding-right:5px;}
.comp_6{height:112px;left:6px;top:4px;width:191px;}
.comp_7{height:114px;left:5.625px;top:1428px;width:309px;}
.comp_8{height:1px;left:127.125px;top:1727px;width:60px;}
.comp_9{height:1227px;left:0px;top:125.132px;width:320px;}
.t0{font-size:20px;}
.t10{font-size:24px;}
.t12{font-size:16px;}
.t13{font-size:12px;}
.t14{font-size:12px;}
.t15{font-size:12px;}
.t16{font-size:12px;}
.t17{font-size:12px;}
.t18{font-size:12px;}
.t19{font-size:12px;}
.t2{font-size:56px;}
.t20{font-size:12px;}
.t21{font-size:12px;}
.t22{font-size:12px;}
.t23{font-size:12px;}
.t24{font-size:16px;}
.t25{font-size:12px;}
.t26{font-size:12px;}
.t27{font-size:12px;}
.t28{font-size:12px;}
.t29{font-size:12px;}
.t30{font-size:12px;}
.t31{font-size:12px;}
.t32{font-size:12px;}
.t33{font-size:12px;}
.t34{font-size:12px;}
.t35{font-size:12px;}
.t36{font-size:16px;}
.t37{font-size:12px;}
.t38{font-size:12px;}
.t39{font-size:12px;}
.t4{font-size:24px;}
.t40{font-size:12px;}
.t41{font-size:12px;}
.t42{font-size:12px;}
.t43{font-size:12px;}
.t44{font-size:12px;}
.t45{font-size:12px;}
.t46{font-size:12px;}
.t47{font-size:12px;}
.t48{font-size:18px;}
.t49{font-size:18px;}
.t50{font-size:18px;}
.t51{font-size:18px;}
.t6{font-size:38px;}
.t8{font-size:56px;}
.textShape_1024{display:none;}
.textShape_320{display:block;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid1 .wafx-menu{display:none;}
.wafx-menunid1 .wafx-menu-bt-hamburger{display:flex;justify-content:center;}
.wafx-menunid1 .wafx-menu-bt-hamburger svg{height:43px;transform:scale(0.8);width:43px;}
.wafx-menunid1 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid1 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid1 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid1.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid1.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid1.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid1.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-320{display:block;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 320px) / 2);width:calc(100vw - 10px);}
}
@media(min-width:768px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:768px;}
.blockPagecontainer{width:768px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_31{display:block;}
.compVis_32{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background-color:rgba(25,61,39,0);border:1px solid rgba(16,40,26,0);border-radius:5px;height:45px;left:174px;margin:-1px;top:0px;width:420px;}
.comp_0 .inner-box{border:1px solid rgba(37,91,58,0);border-radius:4px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_1{background:linear-gradient(180deg,#3d3d3d 29%,#000000 104%);;height:45px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:0px;}
.comp_10{height:313px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:1956px;}
.comp_11{height:127px;left:124px;top:2048.5px;width:494px;}
.comp_12{height:54px;left:227px;top:2176px;width:274px;}
.comp_12 .text_content{font-size:18px;padding-left:5px;padding-right:5px;}
.comp_13{height:340px;left:128.5px;top:2576.42px;width:511px;}
.comp_13 .thumb0{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/257_170_440170170_5775d1cd7a464cdb996229244cd227b2.jpg);background-size:170px 170px;height:170px;left:0px;position:absolute;top:0px;visibility:visible;width:170px;}
.comp_13 .thumb1{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/226_170_280170170_79f5e55c57c646179c92529969f15e40.jpg);background-size:170px 170px;height:170px;left:170px;position:absolute;top:0px;visibility:visible;width:170px;}
.comp_13 .thumb2{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/255_170_430170170_b9c550f8105a4258a39c0e2a034f813c.jpg);background-size:170px 170px;height:170px;left:340px;position:absolute;top:0px;visibility:visible;width:170px;}
.comp_13 .thumb3{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/236_170_330170170_4b6414b3e9494d81a17f2bbd7a679d75.jpg);background-size:170px 170px;height:170px;left:0px;position:absolute;top:170px;visibility:visible;width:170px;}
.comp_13 .thumb4{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/256_170_430170170_385a292a2e634b758b27fb84d679cbdd.jpg);background-size:170px 170px;height:170px;left:170px;position:absolute;top:170px;visibility:visible;width:170px;}
.comp_13 .thumb5{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/256_170_430170170_a7ee4acdf0ea45f6a4d565408356dc3a.jpg);background-size:170px 170px;height:170px;left:340px;position:absolute;top:170px;visibility:visible;width:170px;}
.comp_14{height:1px;left:337.25px;top:1389.12px;width:83px;}
.comp_15{height:81px;left:5px;top:256px;width:758px;}
.comp_16{height:267px;left:49.1349px;top:337.125px;width:673px;}
.comp_17{height:287px;left:48.75px;top:589.148px;width:666px;}
.comp_18{height:245px;left:49px;top:845.25px;width:673px;}
.comp_19{height:378px;left:205px;top:1409.86px;width:348px;}
.comp_19 .wafx-img-picture{height:369px;left:0px;top:4px;width:348px;}
.comp_2{height:132px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:3653.35px;}
.comp_20{height:150px;left:29.5px;top:1787.56px;width:709px;}
.comp_21{height:937px;left:0px;top:211.872px;width:768px;}
.comp_22{height:301px;left:0px;top:2983.94px;width:285px;}
.comp_22 .wafx-carousel{padding-bottom:105.614% !important;}
.comp_23{height:301px;left:285px;top:2984px;width:461px;}
.comp_23 .thumb0{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/130_130_00130130_19b8eabce2de4d258fbfcbf51e8b4100.jpg);background-size:130px 130px;height:130px;left:22px;position:absolute;top:14px;visibility:visible;width:130px;}
.comp_23 .thumb1{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/130_140_05130130_4c81e4257fb84684b2dccc8bdc504073.jpg);background-size:130px 130px;height:130px;left:165px;position:absolute;top:14px;visibility:visible;width:130px;}
.comp_23 .thumb2{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/135_130_30130130_5cc710d7bc644161989551e1d2e57307.jpg);background-size:130px 130px;height:130px;left:308px;position:absolute;top:14px;visibility:visible;width:130px;}
.comp_23 .thumb3{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/130_147_09130130_fe480a37f53445a4a9ffb8cf90cd0942.jpg);background-size:130px 130px;height:130px;left:22px;position:absolute;top:157px;visibility:visible;width:130px;}
.comp_24{background-image:url(./wafx_res/Images/0-1936-7779456456.jpg);height:256px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2269px;}
.comp_25{height:102px;left:29.5px;top:3495.52px;width:330px;}
.comp_25 .wafx-smt-txt-wrap{width:310px;}
.comp_26{background-image:url(./wafx_res/Images/0-722-price-akril.jpg);height:315px;left:10px;top:3320px;width:361px;}
.comp_27{height:295px;left:25px;opacity:0.75;top:3333.83px;width:339px;}
.comp_28{height:116px;left:57.5px;top:3342.09px;width:274px;}
.comp_28 .wafx-smt-txt-wrap{width:254px;}
.comp_29{height:116px;left:440.5px;top:3342.09px;width:274px;}
.comp_29 .wafx-smt-txt-wrap{width:254px;}
.comp_3{height:94px;left:0px;top:3674.88px;width:768px;}
.comp_3 .wafx-smt-txt-wrap{width:748px;}
.comp_30{background-image:url(./wafx_res/Images/0-722-price-akril.jpg);height:315px;left:397px;top:3320px;width:361px;}
.comp_31{height:102px;left:412.5px;top:3495.52px;width:330px;}
.comp_31 .wafx-smt-txt-wrap{width:310px;}
.comp_32{height:295px;left:408px;opacity:0.75;top:3333.83px;width:339px;}
.comp_4{background-image:url(./wafx_res/Images/0-2944-pasta-51532.jpg);height:1104px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:44.1875px;}
.comp_5{height:111px;left:601.102px;top:0.315982px;width:167px;}
.comp_5 .text_content{font-size:14px;padding-left:5px;padding-right:5px;}
.comp_6{height:156px;left:5px;top:4.77934px;width:151px;}
.comp_7{height:81px;left:5px;top:1319.17px;width:758px;}
.comp_8{height:1px;left:337.25px;top:1389.12px;width:83px;}
.comp_9{height:887px;left:25.06px;top:234.161px;width:720px;}
.t0{font-size:20px;}
.t10{font-size:24px;}
.t12{font-size:16px;}
.t13{font-size:12px;}
.t14{font-size:12px;}
.t15{font-size:12px;}
.t16{font-size:12px;}
.t17{font-size:12px;}
.t18{font-size:12px;}
.t19{font-size:12px;}
.t2{font-size:56px;}
.t20{font-size:12px;}
.t21{font-size:12px;}
.t22{font-size:12px;}
.t23{font-size:12px;}
.t24{font-size:16px;}
.t25{font-size:12px;}
.t26{font-size:12px;}
.t27{font-size:12px;}
.t28{font-size:12px;}
.t29{font-size:12px;}
.t30{font-size:12px;}
.t31{font-size:12px;}
.t32{font-size:12px;}
.t33{font-size:12px;}
.t34{font-size:12px;}
.t35{font-size:12px;}
.t36{font-size:16px;}
.t37{font-size:12px;}
.t38{font-size:12px;}
.t39{font-size:12px;}
.t4{font-size:24px;}
.t40{font-size:12px;}
.t41{font-size:12px;}
.t42{font-size:12px;}
.t43{font-size:12px;}
.t44{font-size:12px;}
.t45{font-size:12px;}
.t46{font-size:12px;}
.t47{font-size:12px;}
.t48{font-size:18px;}
.t49{font-size:18px;}
.t50{font-size:18px;}
.t51{font-size:18px;}
.t6{font-size:38px;}
.t8{font-size:56px;}
.textShape_1024{display:none;}
.textShape_320{display:none;}
.textShape_768{display:block;}
.waBlockSocialBar{display:none;}
.wafx-menunid1 .wafx-menu{display:flex;font-size:14px;justify-content:center;}
.wafx-menunid1 .wafx-menu-bt-hamburger{display:none;justify-content:center;}
.wafx-menunid1 .wafx-menu-bt-hamburger svg{height:45px;transform:scale(0.8);width:45px;}
.wafx-menunid1 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid1 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid1 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid1.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid1.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid1.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid1.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-320{display:none;}
.wafx-vis-768{display:block;}
.wafxCompFluid{left:calc( 0px - (100vw - 768px) / 2);width:calc(100vw - 10px);}
}
@media(min-width:1025px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:1024px;}
.blockPagecontainer{width:1024px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_31{display:block;}
.compVis_32{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background-color:rgba(25,61,39,0);border:1px solid rgba(16,40,26,0);border-radius:5px;height:60px;left:260.038px;margin:-1px;top:0.125px;width:560px;}
.comp_0 .inner-box{border:1px solid rgba(37,91,58,0);border-radius:4px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_1{background:linear-gradient(180deg,#3d3d3d 29%,#000000 104%);;height:60px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:0px;}
.comp_10{height:263px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:1626.02px;}
.comp_11{height:76px;left:5px;top:1689.89px;width:1014px;}
.comp_12{height:60px;left:370px;top:1766px;width:270px;}
.comp_12 .text_content{font-size:18px;padding-left:5px;padding-right:5px;}
.comp_13{height:172px;left:0px;top:1888.15px;width:1024px;}
.comp_13 .thumb0{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/257_170_440170170_5775d1cd7a464cdb996229244cd227b2.jpg);background-size:170px 170px;height:170px;left:2px;position:absolute;top:1px;visibility:visible;width:170px;}
.comp_13 .thumb1{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/226_170_280170170_79f5e55c57c646179c92529969f15e40.jpg);background-size:170px 170px;height:170px;left:172px;position:absolute;top:1px;visibility:visible;width:170px;}
.comp_13 .thumb2{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/255_170_430170170_b9c550f8105a4258a39c0e2a034f813c.jpg);background-size:170px 170px;height:170px;left:342px;position:absolute;top:1px;visibility:visible;width:170px;}
.comp_13 .thumb3{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/236_170_330170170_4b6414b3e9494d81a17f2bbd7a679d75.jpg);background-size:170px 170px;height:170px;left:512px;position:absolute;top:1px;visibility:visible;width:170px;}
.comp_13 .thumb4{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/256_170_430170170_385a292a2e634b758b27fb84d679cbdd.jpg);background-size:170px 170px;height:170px;left:682px;position:absolute;top:1px;visibility:visible;width:170px;}
.comp_13 .thumb5{background-image:url(./wafx_res/imgcoll/11a7908275e04f52afc846fb6687733b/256_170_430170170_a7ee4acdf0ea45f6a4d565408356dc3a.jpg);background-size:170px 170px;height:170px;left:852px;position:absolute;top:1px;visibility:visible;width:170px;}
.comp_14{height:1px;left:465px;top:279px;width:110px;}
.comp_15{height:71px;left:5px;top:203.154px;width:1014px;}
.comp_16{height:452px;left:37px;top:305.754px;width:302px;}
.comp_17{height:424px;left:363px;top:306.008px;width:302px;}
.comp_18{height:440px;left:689px;top:305.906px;width:302px;}
.comp_19{height:391px;left:329px;top:990px;width:366px;}
.comp_19 .wafx-img-picture{height:389px;left:0px;top:1px;width:366px;}
.comp_2{height:118px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:3200px;}
.comp_20{height:122px;left:5px;top:1429.01px;width:1014px;}
.comp_21{height:581px;left:0px;top:148.758px;width:1024px;}
.comp_22{height:383px;left:0.0272425px;top:2060px;width:360px;}
.comp_22 .wafx-carousel{padding-bottom:106.389% !important;}
.comp_23{height:362px;left:381px;top:2081px;width:615px;}
.comp_23 .thumb0{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/170_170_00170170_19b8eabce2de4d258fbfcbf51e8b4100.jpg);background-size:170px 170px;height:170px;left:44px;position:absolute;top:7px;visibility:visible;width:170px;}
.comp_23 .thumb1{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/170_183_07170170_4c81e4257fb84684b2dccc8bdc504073.jpg);background-size:170px 170px;height:170px;left:222px;position:absolute;top:7px;visibility:visible;width:170px;}
.comp_23 .thumb2{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/176_170_30170170_5cc710d7bc644161989551e1d2e57307.jpg);background-size:170px 170px;height:170px;left:400px;position:absolute;top:7px;visibility:visible;width:170px;}
.comp_23 .thumb3{background-image:url(./wafx_res/imgcoll/c7fa342df7244995b772ccb4213a6f39/170_192_011170170_fe480a37f53445a4a9ffb8cf90cd0942.jpg);background-size:170px 170px;height:170px;left:44px;position:absolute;top:185px;visibility:visible;width:170px;}
.comp_24{background-image:url(./wafx_res/Images/0-2448-7779456456.jpg);height:341px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2479.95px;}
.comp_25{height:110px;left:102.544px;top:3041.75px;width:331px;}
.comp_25 .wafx-smt-txt-wrap{width:311px;}
.comp_26{background-image:url(./wafx_res/Images/0-872-price-akril.jpg);height:314px;left:50px;top:2854px;width:436px;}
.comp_27{height:295px;left:66.5px;opacity:0.75;top:2863.5px;width:403px;}
.comp_28{height:149px;left:82.0444px;top:2873.65px;width:372px;}
.comp_28 .wafx-smt-txt-wrap{width:352px;}
.comp_29{height:149px;left:572.044px;top:2873.65px;width:372px;}
.comp_29 .wafx-smt-txt-wrap{width:352px;}
.comp_3{height:86px;left:0px;top:3205.03px;width:1024px;}
.comp_3 .wafx-smt-txt-wrap{width:1004px;}
.comp_30{background-image:url(./wafx_res/Images/0-872-price-akril.jpg);height:314px;left:540px;top:2854px;width:436px;}
.comp_31{height:110px;left:592.544px;top:3041.75px;width:331px;}
.comp_31 .wafx-smt-txt-wrap{width:311px;}
.comp_32{height:295px;left:556.5px;opacity:0.75;top:2863.5px;width:403px;}
.comp_4{background-image:url(./wafx_res/Images/0-2448-pasta-51532.jpg);height:729px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:58.8397px;}
.comp_5{height:107px;left:836px;top:-0.0786909px;width:165px;}
.comp_5 .text_content{font-size:14px;padding-left:5px;padding-right:5px;}
.comp_6{height:142px;left:25px;top:7px;width:204px;}
.comp_7{height:71px;left:5px;top:901.154px;width:1014px;}
.comp_8{height:1px;left:450px;top:972px;width:110px;}
.comp_9{height:543px;left:19.7661px;top:167.125px;width:987px;}
.t0{font-size:20px;}
.t10{font-size:24px;}
.t12{font-size:16px;}
.t13{font-size:12px;}
.t14{font-size:12px;}
.t15{font-size:12px;}
.t16{font-size:12px;}
.t17{font-size:12px;}
.t18{font-size:12px;}
.t19{font-size:12px;}
.t2{font-size:56px;}
.t20{font-size:12px;}
.t21{font-size:12px;}
.t22{font-size:12px;}
.t23{font-size:12px;}
.t24{font-size:16px;}
.t25{font-size:12px;}
.t26{font-size:12px;}
.t27{font-size:12px;}
.t28{font-size:12px;}
.t29{font-size:12px;}
.t30{font-size:12px;}
.t31{font-size:12px;}
.t32{font-size:12px;}
.t33{font-size:12px;}
.t34{font-size:12px;}
.t35{font-size:12px;}
.t36{font-size:16px;}
.t37{font-size:12px;}
.t38{font-size:12px;}
.t39{font-size:12px;}
.t4{font-size:24px;}
.t40{font-size:12px;}
.t41{font-size:12px;}
.t42{font-size:12px;}
.t43{font-size:12px;}
.t44{font-size:12px;}
.t45{font-size:12px;}
.t46{font-size:12px;}
.t47{font-size:12px;}
.t48{font-size:18px;}
.t49{font-size:18px;}
.t50{font-size:18px;}
.t51{font-size:18px;}
.t6{font-size:38px;}
.t8{font-size:56px;}
.textShape_1024{display:block;}
.textShape_320{display:none;}
.textShape_768{display:none;}
.waBlockSocialBar{display:block;pointer-events:none;}
.waBlockSocialBar .fl-fl{display:flex;flex-direction:row-reverse;font:normal normal 10px Arial;left:-160px;letter-spacing:3px;padding:4px;pointer-events:all;position:fixed;text-decoration:none;transition:all .25s ease;width:190px;z-index:1000;}
.waBlockSocialBar .fl-fl .waFa{color:#fff;font-size:20px;margin-left:8px;padding:10px 0;text-align:right;width:40px;}
.waBlockSocialBar .fl-fl .waText{color:#fff !important;line-height:43px!important;text-align:center;text-decoration:none;vertical-align:top!important;}
.waBlockSocialBar .float-fb_0{background:#f33428;top:160px;}
.waBlockSocialBar .float-fb_1{background:#f33428;top:215px;}
.waBlockSocialBar .float-fb_2{background:#f33428;top:270px;}
.waBlockSocialBar .fl-fl:hover{left:0;}
.wafx-menunid1 .wafx-menu{display:flex;font-size:16px;justify-content:center;}
.wafx-menunid1 .wafx-menu-bt-hamburger{display:none;justify-content:center;}
.wafx-menunid1 .wafx-menu-bt-hamburger svg{height:60px;transform:scale(0.8);width:60px;}
.wafx-menunid1 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid1 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid1 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid1.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid1.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid1.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid1.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:block;}
.wafx-vis-320{display:none;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 1024px) / 2);width:calc(100vw - 10px);}
}

@media(max-width:330px){
.wafxCompFluid{
left:0px;
width:320px;
}
}
@media(max-width:768px){
.smt-para-wa-4{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-4{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-4{
margin:10px !important;align-self:flex-start !important;
}
}
@media(max-width:768px){
.smt-wa-4-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:center;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
}
@media(min-width:768px){
.smt-wa-4-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:center;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
}
@media(min-width:1025px){
.smt-wa-4-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:center;font-weight:400;font-style:normal;font-family:'Arial';font-size:14px;
}
}
.smt-wa-4-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-14{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-14-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-14-block-0 a{
color:#ffffff !important;text-decoration:none !important;}

.smt-wa-14-block-1{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-14-block-1 a{
color:#ffffff !important;text-decoration:none !important;}

.smt-wa-14-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-14-block-0 a{
color:#ffffff !important;text-decoration:none !important;}

.smt-wa-14-block-1{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-14-block-1 a{
color:#ffffff !important;text-decoration:none !important;}

.smt-para-wa-23{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-23-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-23-block-0 a{
color:#ffffff !important;text-decoration:none !important;}

.smt-wa-23-block-1{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-23-block-1 a{
color:#ffffff !important;text-decoration:none !important;}

.smt-para-wa-24{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-24-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-24-block-0 a{
color:#ffffff !important;text-decoration:none !important;}

.smt-wa-24-block-1{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-24-block-1 a{
color:#ffffff !important;text-decoration:none !important;}

.smt-para-wa-26{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-26-block-0{
color:#effef5;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:16px;
}
.smt-wa-26-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-29{
margin:10px !important;align-self:center !important;
}
.smt-wa-29-block-0{
color:#000000;margin:0px;padding:0px;margin-bottom:0px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:center;font-weight:400;font-style:normal;font-family:'Arial';font-size:24px;
}
.smt-wa-29-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-30{
margin:10px !important;align-self:center !important;
}
.smt-wa-30-block-0{
color:#000000;margin:0px;padding:0px;margin-bottom:0px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:center;font-weight:400;font-style:normal;font-family:'Arial';font-size:24px;
}
.smt-wa-30-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-32{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-32-block-0{
color:#effef5;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:16px;
}
.smt-wa-32-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

