@-webkit-keyframes transform-lightspeed-in {
0% {
   -webkit-transform: translate(100%,0px) rotate(0deg) skewX(-30deg);
   opacity: 0;
}
60% {
   -webkit-transform: translate(-20%,0px) rotate(0deg) skewX(30deg);
   opacity: 1;
}
80% {
   -webkit-transform: translate(0px,0px) rotate(0deg) skewX(-15deg);
   opacity: 1;
}
100% {
   -webkit-transform: translate(0px,0px) rotate(0deg) skewX(0deg);
   opacity: 1;
}
}
@-moz-keyframes transform-lightspeed-in {
0% {
   -moz-transform: translate(100%,0px) rotate(0deg) skewX(-30deg);
   opacity: 0;
}
60% {
   -moz-transform: translate(-20%,0px) rotate(0deg) skewX(30deg);
   opacity: 1;
}
80% {
   -moz-transform: translate(0px,0px) rotate(0deg) skewX(-15deg);
   opacity: 1;
}
100% {
   -moz-transform: translate(0px,0px) rotate(0deg) skewX(0deg);
   opacity: 1;
}
}
@-o-keyframes transform-lightspeed-in {
0% {
   -o-transform: translate(100%,0px) rotate(0deg) skewX(-30deg);
   opacity: 0;
}
60% {
   -o-transform: translate(-20%,0px) rotate(0deg) skewX(30deg);
   opacity: 1;
}
80% {
   -o-transform: translate(0px,0px) rotate(0deg) skewX(-15deg);
   opacity: 1;
}
100% {
   -o-transform: translate(0px,0px) rotate(0deg) skewX(0deg);
   opacity: 1;
}
}
@-ms-keyframes transform-lightspeed-in {
0% {
   -ms-transform: translate(100%,0px) rotate(0deg) skewX(-30deg);
   opacity: 0;
}
60% {
   -ms-transform: translate(-20%,0px) rotate(0deg) skewX(30deg);
   opacity: 1;
}
80% {
   -ms-transform: translate(0px,0px) rotate(0deg) skewX(-15deg);
   opacity: 1;
}
100% {
   -ms-transform: translate(0px,0px) rotate(0deg) skewX(0deg);
   opacity: 1;
}
}
@keyframes transform-lightspeed-in {
0% {
   opacity: 0;
   transform: translate(100%,0px) rotate(0deg) skewX(-30deg);
}
60% {
   opacity: 1;
   transform: translate(-20%,0px) rotate(0deg) skewX(30deg);
}
80% {
   opacity: 1;
   transform: translate(0px,0px) rotate(0deg) skewX(-15deg);
}
100% {
   opacity: 1;
   transform: translate(0px,0px) rotate(0deg) skewX(0deg);
}
}
a {
   color: #0000FF;
   text-decoration: underline;
}
a:visited {
   color: #800080;
}
a:active {
   color: #FF0000;
}
a:hover {
   color: #0000FF;
   text-decoration: underline;
}
input:focus,
textarea:focus,
select:focus {
   outline: none;
}
.visibility-hidden {
   visibility: hidden;
}
h1,
.h1 {
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 32px;
   font-weight: bold;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   text-decoration: none;
}
h2,
.h2 {
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 27px;
   font-weight: bold;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   text-decoration: none;
}
h3,
.h3 {
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 24px;
   font-weight: bold;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   text-decoration: none;
}
h4,
.h4 {
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 21px;
   font-style: italic;
   font-weight: bold;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   text-decoration: none;
}
h5,
.h5 {
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 19px;
   font-weight: bold;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   text-decoration: none;
}
h6,
.h6 {
   background-color: transparent;
   color: #000000;
   display: inline;
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   text-decoration: none;
}
.CustomStyle {
   background-color: transparent;
   color: #2E74B5;
   font-family: "Courier New";
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
}
