
#pluginAppObj_3_07 {
	width: 100%;
}
#pluginAppObj_3_07 .cd-headline {
	display: block;
	font-family: 'Tahoma';
	font-size: 26px;
	line-height: 34px;
	color: rgba(255, 191, 0, 1);
	font-style: normal;
	font-weight: normal;
}

#pluginAppObj_3_07 .cd-headline b,
#pluginAppObj_3_07 .cd-headline i,
#pluginAppObj_3_07 .cd-headline em {
	
	font-family: 'Tahoma';
	font-size: 26px;
	line-height: 34px;
	color: rgba(255, 191, 0, 1);
	font-style: normal !important;
	font-weight: normal;
}

/* Loading bar color */
#pluginAppObj_3_07 .cd-headline.loading-bar .cd-words-wrapper::after {
	background-color: rgba(255, 191, 0, 1);
}

#pluginAppObj_3_07 .cd-intro {
	text-align: center;
}
